body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

.logo{
    width: 200px;
}
.title { 
    font-size: 40px;
}

#principal{
    font-size: 50px;
}